body {
  font-family: Arial, sans-serif;
  padding: 20px;
  line-height: 1.6;
  background-color: #fafafa;
}

h1 {
  text-align: center;
}

.image-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.lazy-image {
  height: 200px; /* Мінімальна висота */
  background-color: #f0f0f0; /* Фон для завантаження */
  width: 100%;
  object-fit: cover;
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
}

.lazy-image.loaded {
  opacity: 1;
}

button#load-images-btn {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
